scripts/import-newsletter-send-personalized.json
{
  "name": "Newsletter Send Personalized",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "newsletter-send",
        "responseMode": "lastNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook_send",
      "name": "Newsletter Send Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        256,
        208
      ],
      "typeVersion": 2,
      "webhookId": "newsletter-send"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, email, preferences FROM newsletter_subscribers WHERE status = 'active' AND email = $1;",
        "additionalFields": {
          "queryParameters": [
            "{{ $json.email || 'thomas.joannes@gmail.com' }}"
          ]
        },
        "options": {}
      },
      "id": "get_user_prefs",
      "name": "Get User Preferences",
      "type": "n8n-nodes-base.postgres",
      "position": [
        480,
        208
      ],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "o9ZHFV56HWz8w7cp",
          "name": "Supabase Kibbitz Corner"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "newsletters@lekibbitz.fr",
        "toEmail": "={{ $('Get User Preferences').item.json.email }}",
        "subject": "🎯 Daily AI Report Personnalisé - {{ new Date().toLocaleDateString('fr-FR') }}",
        "html": "=<!DOCTYPE html>\n<html lang=\"fr\">\n<head>\n    <meta charset=\"UTF-8\">\n    <title>Daily AI Report Personnalisé - {{ new Date().toLocaleDateString('fr-FR') }}</title>\n</head>\n<body style=\"font-family: 'Segoe UI', Arial, sans-serif; line-height: 1.6; color: #333; max-width: 600px; margin: 0 auto; padding: 20px;\">\n\n<div style=\"background: linear-gradient(135deg, #a855f7, #ec4899); padding: 30px; border-radius: 15px; text-align: center; margin-bottom: 30px;\">\n    <h1 style=\"color: white; margin: 0; font-size: 28px;\">📧 Daily AI Report</h1>\n    <p style=\"color: rgba(255,255,255,0.9); margin: 10px 0 0;\">Personnalisé pour toi • {{ new Date().toLocaleDateString('fr-FR') }}</p>\n</div>\n\n<div style=\"background: #f8f9fa; padding: 20px; border-radius: 10px; margin-bottom: 25px; border-left: 4px solid #a855f7;\">\n    <h3 style=\"color: #a855f7; margin: 0 0 10px;\">🎯 Tes sujets prioritaires aujourd'hui</h3>\n    <p style=\"margin: 0; color: #666;\">{{ $('Get User Preferences').item.json.preferences.topics.join(' • ') }}</p>\n</div>\n\n<h2 style=\"color: #333; border-bottom: 2px solid #a855f7; padding-bottom: 10px;\">📰 Articles sélectionnés pour toi</h2>\n\n<div style=\"background: white; border: 1px solid #e5e7eb; border-radius: 10px; padding: 20px; margin-bottom: 20px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);\">\n    <div style=\"display: flex; align-items: center; margin-bottom: 10px;\">\n        <span style=\"background: #a855f7; color: white; border-radius: 20px; padding: 4px 12px; font-size: 12px; font-weight: 600;\">PRIORITÉ 10/10</span>\n        <span style=\"margin-left: 10px; color: #666; font-size: 14px;\">n8n Blog</span>\n    </div>\n\n    <h3 style=\"margin: 0 0 10px; color: #1f2937; font-size: 18px;\">\n        n8n 1.0 Released: Major Automation Platform Update\n    </h3>\n\n    <p style=\"margin: 0; color: #6b7280; line-height: 1.5;\">\n        n8n announces its 1.0 release with enterprise features, improved UI, and better Supabase integration.\n    </p>\n\n    <div style=\"margin-top: 15px;\">\n        <span style=\"background: #f3f4f6; color: #6b7280; padding: 4px 8px; border-radius: 6px; font-size: 12px; text-transform: uppercase;\">\n            automation\n        </span>\n    </div>\n</div>\n\n<div style=\"background: white; border: 1px solid #e5e7eb; border-radius: 10px; padding: 20px; margin-bottom: 20px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);\">\n    <div style=\"display: flex; align-items: center; margin-bottom: 10px;\">\n        <span style=\"background: #a855f7; color: white; border-radius: 20px; padding: 4px 12px; font-size: 12px; font-weight: 600;\">PRIORITÉ 9/10</span>\n        <span style=\"margin-left: 10px; color: #666; font-size: 14px;\">Supabase Blog</span>\n    </div>\n\n    <h3 style=\"margin: 0 0 10px; color: #1f2937; font-size: 18px;\">\n        Supabase Edge Functions Now Support TypeScript\n    </h3>\n\n    <p style=\"margin: 0; color: #6b7280; line-height: 1.5;\">\n        Latest Supabase update brings full TypeScript support to edge functions, making serverless development easier.\n    </p>\n\n    <div style=\"margin-top: 15px;\">\n        <span style=\"background: #f3f4f6; color: #6b7280; padding: 4px 8px; border-radius: 6px; font-size: 12px; text-transform: uppercase;\">\n            backend\n        </span>\n    </div>\n</div>\n\n<div style=\"background: white; border: 1px solid #e5e7eb; border-radius: 10px; padding: 20px; margin-bottom: 20px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);\">\n    <div style=\"display: flex; align-items: center; margin-bottom: 10px;\">\n        <span style=\"background: #a855f7; color: white; border-radius: 20px; padding: 4px 12px; font-size: 12px; font-weight: 600;\">PRIORITÉ 9/10</span>\n        <span style=\"margin-left: 10px; color: #666; font-size: 14px;\">Vapi Blog</span>\n    </div>\n\n    <h3 style=\"margin: 0 0 10px; color: #1f2937; font-size: 18px;\">\n        Vapi Introduces Advanced Voice AI Features\n    </h3>\n\n    <p style=\"margin: 0; color: #6b7280; line-height: 1.5;\">\n        New voice synthesis and conversation features make Vapi even more powerful for AI applications.\n    </p>\n\n    <div style=\"margin-top: 15px;\">\n        <span style=\"background: #f3f4f6; color: #6b7280; padding: 4px 8px; border-radius: 6px; font-size: 12px; text-transform: uppercase;\">\n            ai\n        </span>\n    </div>\n</div>\n\n<div style=\"background: linear-gradient(135deg, rgba(168,85,247,0.1), rgba(236,72,153,0.1)); border: 1px solid rgba(168,85,247,0.2); border-radius: 10px; padding: 20px; margin-top: 30px;\">\n    <h3 style=\"margin: 0 0 15px; color: #a855f7;\">💡 Pourquoi ces articles ?</h3>\n    <ul style=\"margin: 0; color: #666; font-size: 14px;\">\n        <li>Priorité maximale pour <strong>n8n</strong> et <strong>Supabase</strong></li>\n        <li>Articles sur l'<strong>automatisation</strong> et le <strong>no-code</strong></li>\n        <li>Exclusion automatique des sujets finance/crypto</li>\n        <li>Nouvelle source <strong>Vapi</strong> ajoutée selon tes demandes</li>\n    </ul>\n</div>\n\n<div style=\"text-align: center; margin-top: 30px; padding-top: 20px; border-top: 1px solid #e5e7eb;\">\n    <p style=\"color: #999; font-size: 14px; margin: 0 0 10px;\">\n        Newsletter générée à partir de tes préférences personnalisées\n    </p>\n    <a href=\"mailto:newsletters@lekibbitz.fr?subject=Modification Newsletter\"\n       style=\"background: #a855f7; color: white; padding: 8px 16px; border-radius: 6px; text-decoration: none; font-size: 14px;\">\n        ⚙️ Modifier mes préférences\n    </a>\n</div>\n\n</body>\n</html>",
        "options": {
          "replyTo": "thomas.joannes@lekibbitz.fr"
        }
      },
      "id": "send_personalized_newsletter",
      "name": "Send Personalized Newsletter",
      "type": "n8n-nodes-base.emailSend",
      "position": [
        704,
        208
      ],
      "typeVersion": 2.1,
      "credentials": {
        "smtp": {
          "id": "T3bi8G1zGnTM0Yqa",
          "name": "Hostinger SMTP - Newsletter"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"message\": \"Newsletter personnalisée envoyée !\", \"email\": \"{{ $('Get User Preferences').item.json.email }}\", \"preferences\": {{ JSON.stringify($('Get User Preferences').item.json.preferences) }}}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "success_response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        928,
        208
      ],
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "Newsletter Send Webhook": {
      "main": [
        [
          {
            "node": "Get User Preferences",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Preferences": {
      "main": [
        [
          {
            "node": "Send Personalized Newsletter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Personalized Newsletter": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "a0b359ae789d4b6649ae6913b4ad3c22a5524e8fe7cfa7d008c4b9648e830c47"
  }
}